        
        *{
            margin: 0;
            padding: 0;
            
        }

        

        header{
            align-items: center;
            justify-content: space-between;
            display: flex;
            width: 100%;
            height: 70px;
            
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            
        }
        .logo h1{
            color: antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 20px ;
        }
        nav ul li{
            text-decoration: none;
            list-style: none;
            margin: 0 50px 0 5px;
            
        }
        nav a{
            text-decoration: none;
            color: white ;
            font-size: 25px;
            font-weight: bolder;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        nav ul{
            display: flex;
        }
        .home{
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
            justify-items: center;
            display: flex;
            position: relative;
        }
        .home .kopi{
            color: burlywood;
            font-weight: bolder;
            font-size: 120px;
            width: 100%;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        .img video{
            width: 100%;
            height: 100vh;
            position: absolute;
            z-index: -3;
            object-fit: cover;
            object-position: center;
            top: 0;
            left: 0;
        }
        .home::before{
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.63);
            z-index: -2;
        }

         
            /* width: 70%; */
            
            
            
        
        .konten .men{
            color: antiquewhite;
            margin-bottom: 25px;
            text-align: center;
            font-size: 25px;
        }
        .konten .button {
            text-decoration: none;
            background-color: burlywood;
            padding: 12px 175px 12px 175px;
            text-align: center;
            border-radius: 6px;
            transition: 1s ease;
            color: antiquewhite;
            align-items: center;
            /* margin-left: 454px; */
            transition: 1s ease;
            font-size: 20px;
        }
        .konten .button a{
            text-align: center;
            
        }
        /* .button:hover{
            padding: 12px 70px 12px 70px;
            margin-left: 559px;
        } */
        .new .terbaru{
            position: absolute;
            top: 1200px;
            left:42% ;
            font-size: 30px;
            font-weight: bolder;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }
        .new .garis{
            background-color: burlywood;
            width: 500px;
            height: 9px;
            position: absolute;
            top: 1250px;
            left: 37%;
            border-radius: 7px;
            box-shadow: 0 0 2px;
        }
        .menu1{
            position: relative;
            width: 400px;
            height: 630px ;
            transition-duration: 600ms;
            position: absolute;
            top: 1400px;
            right: 400px;   
            border-radius: 6px;
            background-color: antiquewhite;
        }

        .menu1:hover{
            box-shadow: 0 0 20px rgb(144, 141, 141);

        }
        .menu1 .p{
            font-weight: bolder ;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
            font-size: 25px;
            margin: 10px 0 0 40px;
        }
        .menu1 img{
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        .menu1 .des1{
            font-size: 20px;
            font-weight: bolder;
            margin: 20px 20px 0 20px ;
            text-align: justify;
            color: grey;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            word-spacing: 2px;
            line-height: 1.4;
        }
        .menu2{
            position: relative;
            width: 400px;
            height: 630px ;
            transition-duration: 600ms;
            position: absolute;
            top: 1400px;
            left: 400px;
            border-radius: 6px;
            background-color: antiquewhite;
        }

        .menu2:hover{
            box-shadow: 0 0 20px rgb(144, 141, 141);

        }
        .menu2 .pp{
            font-weight: bolder;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 25px;
            font-size: 25px;
            margin: 10px 0 0 100px;
        }    
        .menu2 img{
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        .menu2 .des2{
            font-size: 20px;
            font-weight: bolder;
            margin: 20px 20px 0 20px ;
            text-align: justify;
            color: grey;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            word-spacing: 2px;
            line-height: 1.4;
            
        }

        .gampang{
            position: relative;
            top: 1300px;
        }
        .gampang img{
            width: 100%;
            height: 30%;
            
        }

 
        
         .gdl {
            position: absolute;
            top: 30%;
            left: 15%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
        }

        .gdl h1 {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        .gdl .des{
            color: white;
        }

        .gdl .garkel{
            width: 290px;
            height: 5px;
            background-color: burlywood;
            border-radius: 3px;
            z-index: 20 ;
            position: relative;
            left: 14%;
            margin: 20px 0 20px 0;

        }

        .gampang .gdl .lebih{
            background-color: burlywood;
            padding: 12px 0 12px 0px;
            margin: 20px 0 0 0;
            display: inline-block;
            color: white;
            font-weight: bold;
            border-radius: 3px;
            cursor: pointer;
        }
        footer{
            position: relative;
        }
        .fotcon{
            background-color: burlywood;
            display: flex;
            flex-direction: column;
            height: 200px;
            width: 100%;
            margin: 0;
            padding: 40px 0 45px 0;
            position: relative;
            top: 1400px;
        }

        .nomor{
            font-weight: bolder;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            margin: auto;
            font-size: 20px;
            margin-top: 10px;
            

        }

        .spanno{
            word-spacing: 15px;
        }

        .fotdes1{
            color: antiquewhite;
            margin: auto;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .fotdes2{
            color: antiquewhite;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            margin: auto;
            font-size: 20px;
            margin-top: 10px;
        }
        
        .gambarfotter{
            margin: auto;
        }

        